// ****************************************************************
// CONSTANTS
// ****************************************************************

// ================================================
// Metrics
// ================================================

// --------------------------------
// Unit
// --------------------------------
$metrics__unit: 16px !default;

// --------------------------------
// Gap
// --------------------------------
$metrics__gap--quarter: $metrics__unit * 0.25;
$metrics__gap--half: $metrics__unit * 0.5;
$metrics__gap--base: $metrics__unit;
$metrics__gap--double: $metrics__unit * 2;
$metrics__gap--quadruple: $metrics__unit * 4;

// --------------------------------
// Rounding
// --------------------------------
$metrics__rounding--base: $metrics__gap--quarter;

// ================================================
// Breakpoints
// ================================================

// --------------------------------
// Width
// --------------------------------
$breakpoints__width--base: $metrics__unit * 64;

// ================================================
// Typography
// ================================================

// --------------------------
// Font Family
// --------------------------
$typography__font-family--default: "Roboto", Helvetica, Arial, sans-serif;

// --------------------------
// Font Size
// --------------------------
$typography__font-size--base: $metrics__unit;

// ================================================
// Colors
// ================================================

// ================================================
// Effects
// ================================================

// ================================================
// Animations
// ================================================

// --------------------------------
// Timing
// --------------------------------
$animations__timing--faster: 0.2s;
$animations__timing--fast: 0.25s;
$animations__timing--base: 0.3s;
$animations__timing--slow: 0.4s;
$animations__timing--slower: 0.5s;
