// ****************************************************************
// METRICS
// ****************************************************************

// ================================================
// Units
// ================================================

$metrics__unit: 16px !default;

// ================================================
// Gaps
// ================================================

$metrics__gap--quarter: $metrics__unit * 0.25;
$metrics__gap--half: $metrics__unit * 0.5;
$metrics__gap--base: $metrics__unit;
$metrics__gap--double: $metrics__unit * 2;
$metrics__gap--quadruple: $metrics__unit * 4;

// ================================================
// Roundings
// ================================================

$metrics__rounding--base: $metrics__gap--quarter;

// ================================================
// Breakpoints
// ================================================

$metrics__breakpoint--base: $metrics__unit * 64;


// ****************************************************************
// TYPOGRAPHY
// ****************************************************************

// ================================================
// Font Imports
// ================================================

$typography__font-import--weights: (300, 400, 500);
$typography__font-import--family: "Roboto";
$typography__font-import--subsets: ("latin-ext");

// ================================================
// Font Families
// ================================================

$typography__font-family--default: $typography__font-import--family, Helvetica, Arial, sans-serif;

// ================================================
// Font Sizes
// ================================================

$typography__font-size--base: $metrics__unit;


// ****************************************************************
// COLOR
// Based on https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1565C0&secondary.color=DD2C00
// ****************************************************************

// ================================================
// Hues
// ================================================

// --------------------------------
// Generics
// --------------------------------
$color__generics--black: #000000;
$color__generics--white: #ffffff;

// --------------------------------
// Primary
// --------------------------------
$color__primary--light: #5e92f3;
$color__primary--mid: #1565c0;
$color__primary--dark: #003c8f;

// --------------------------------
// Secondary
// --------------------------------
$color__secondary--light: #ff6434;
$color__secondary--mid: #dd2c00;
$color__secondary--dark: #a30000;

// --------------------------------
// Gray
// --------------------------------
$color__gray--light: #f5f5f5;
$color__gray--mid: #e1e1e1;
$color__gray--dark: #919191;

// ================================================
// Alpha
// ================================================


// ****************************************************************
// ANIMATION
// ****************************************************************

// ================================================
// Timing
// ================================================

$animation__timing--faster: 0.2s;
$animation__timing--fast: 0.25s;
$animation__timing--base: 0.3s;
$animation__timing--slow: 0.4s;
$animation__timing--slower: 0.5s;
