// ****************************************************************
// IMPORT
// ****************************************************************

@import "constants";


// ****************************************************************
// UNITS
// ****************************************************************

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($values, $base-value: $rem-base) {
  $max: length($values);

  @if $max == 1 { @return to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

@function to-rem($value, $base-value: $rem-base) {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}


// ****************************************************************
// LISTS AND MAPS
// ****************************************************************

@function contains($list, $var) {
  $_out: false;
  @each $item in $list { @if $item == $var { $_out: true; } }
  @return $_out;
}

@function get_item_or_default($map, $key) {
  $_out: '';
  @if map-has_key($map, $key) { $_out: map-get($map, $key); }
  @else { $_out: $key; }
  @return $_out;
}

@function map_has_not_key($map, $key) {
  $_out: false;
  @if map_has_key($map, $key) {$_out: false;}
  @else {$_out: true;}
  @return $_out;
}

@function list-to-string($list, $separator: ',') {
  $result: '';
  @for $index from 1 through length($list) {
    $item: nth($list, $index);
    $result: if(
      $index != length($list),
      #{$result}#{nth($list, $index)}#{$separator},
      #{$result}#{nth($list, $index)}
    );
  }
  @return $result;
}

@function data($attr) {
  @if $namespace {
    @return '[data-' + $namespace + '-' + $attr + ']';
  }

  @return '[data-' + $attr + ']';
}
