// ****************************************************************
// IMPORT
// ****************************************************************

@import "constants";
@import "functions";


// ****************************************************************
// RESPONSIVE
// ****************************************************************

@mixin respond-from($minWidth, $forcePortrait: false) {
  @if $forcePortrait {
    @media (min-width: $minWidth) and (orientation: portrait) {
      @content;
    }
  } @else {
    @media (min-width: $minWidth) {
      @content;
    }
  }
}

@mixin position-grid-item($rowStart, $columnStart, $rowEnd: $rowStart, $columnEnd: $columnStart) {
  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;
  grid-column-start: $columnStart;
  grid-column-end: $columnEnd;
}

@mixin reposition-grid-item($rowStart, $columnStart, $rowEnd: $rowStart, $columnEnd: $columnStart, $breakpoint) {
  @include respond-from($breakpoint) {
    @include position-grid-item($rowStart, $columnStart, $rowEnd: $rowStart, $columnEnd: $columnStart);
  }
}


// ****************************************************************
// SPACE
// ****************************************************************

@mixin gaps($padding: 0, $margin: 0) {
  padding: $padding;
  margin: $margin;
}


// ****************************************************************
// TYPOGRAPHY
// ****************************************************************

@mixin text($level, $align: "left", $color, $levels: $typography__font-levels) {
  $aligns: ("left", "center", "right");
  @if list-has-not($level, $levels) {
    @warn "Unknown text level '#{$level}' – defaults to 'body-1'.";
    $level: "body-1";
  }
  @if index($aligns, $align) == null {
    @warn "Unknown alignment '#{$align}' – defaults to 'left'.";
    $align: "left";
  }

}

// ****************************************************************
// LAYOUT
// ****************************************************************


// ****************************************************************
// VISUAL
// ****************************************************************

@mixin shadow() {

}

@mixin gradient() {

}
