// ****************************************************************
// RESET
// ****************************************************************

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Reset of Sensible Defaults
// Based on https://dev.to/hankchizljaw/a-modern-css-reset-6p3
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// --------------------------------
// Box Sizing
// --------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
}

// --------------------------------
// Gaps
// --------------------------------
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

// --------------------------------
// Body defaults
// --------------------------------
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

// --------------------------------
// List with class
// --------------------------------
ul[class],
ol[class] {
  list-style: none;
}

// --------------------------------
// Default link styles
// --------------------------------
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// --------------------------------
// Images
// --------------------------------
img {
  max-width: 100%;
  display: block;
}

// --------------------------------
// Button typography
// --------------------------------
input,
button,
textarea,
select {
  font: inherit;
}

// --------------------------------
// a11y
// --------------------------------
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
