@import '../../styles/manifest';

.card {
  border: 1px red solid;
  // landscape ---
  //width: calc((100vw - 5*16px) / 6);
  //height: calc((100vw - 5*16px) / 6);
  //max-height: calc((100vh - 2*16px) / 3);
  //max-width: calc((100vh - 2*16px) / 3);
  // portrait ---
  //width: calc((100vw - 2*16px) / 3);
  //height: calc((100vw - 2*16px) / 3);
  //max-width: calc((100vh - 5*16px) / 6);
  //max-height: calc((100vh - 5*16px) / 6);

  img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}
