@import 'app/styles/manifest';

@import url($typography__font-import--path);

* {
  box-sizing: border-box;
  font-family: $typography__font-import--family;
}

html {
  font-size: $typography__font-size--base;
}

body {
  padding: 0;
  margin: 0;
}
